mabe
Utilities/gitversion.h
modules.h
makefile
*.swp
MultiCellReport.csv
MC_Fates.csv

# Ignore xcode project file:
mabe.xcodeproj

# Ingore intermediate objects:
objectFiles/

# Ignore python's cache:
__pycache__/
